@import "../css-config/mixins.scss";

.container {
  width: 100%;
  height: 100vh;
  @include md {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100%;
    @include md {
      width: 30%;
    }
    .heading {
      text-align: center;
      padding: 3rem ;
      h1 {
        
        font-size: 3rem;
        font-weight: 700;
        @include md {
          font-size: 2.5rem;
        }
      }
    }
    .add {
      background-color: blue;
      color: white;
      width: 60px;
      height: 60px;
      border-radius:50%;
      border: none;
      position: absolute;
      bottom: 30px;
      right: 30px;
      // width: clamp(70%, 90%, 90%);
      // height: 4rem;
      cursor: pointer;
      // @include md {
      //   // width: clamp(70%, 85%, 85%);
      //   // height: 3.8rem;
      // }
      #para {
        font-size: 1.7rem;
        font-weight: 600;
      }
      #symbol {
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 1px;
      }
    }
    .notes {
      max-width: 100%;
      max-height: 85vh;
      overflow-y: scroll; 
      .notes-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 3rem;
        gap: 2rem;
        
        .scrollableContainer {
          max-height: 80vh;
          overflow-y: scroll; 
      
      }
        .icon {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          text-align: center;
          @include md {
            width: 4rem;
            height: 4rem;
          }
          p {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .name {
          p {
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            @include md {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  .content {
    display: none;
    @include md {
      background-color: #f7ecdc;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .center-content {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 50%;
        height: 50%;
      }
      h2 {
        font-size: 3rem;
        font-weight: 600;
        color: #292929;
      }
      p {
        width: 50%;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 2rem;
      }
    }
    .bottom-content {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      p {
        font-size: 1.5rem;
        color: #292929;
        img {
          width: 1.2rem;
          height: 1.4rem;
        }
      }
    }
  }
  .notes-box {
    display: block;
    width: 100%;
    height: 100vh;
    @include md {
      background-color: #f7ecdc;
      width: 100%;
      height: 100vh;
    }
    .notebox-heading {
      width: 100%;
      @include md {
        position: relative;
      }
      .note-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-left: 10px;
        background-color: rgba(0, 31, 139, 1);
        height: 10vh;
        p {
          font-size: 22px;
          img {
            width: 100%;
          }
        }
        .icon {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          @include md {
            width: 5rem;
            height: 5rem;
          }
          p {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .notes-written {
        width: 100%;
        height: calc(100vh - 8vh);
        background: #f7ecdc;
        overflow: hidden;
        overflow-y: scroll;
        .notes-col {
          padding: 2rem;
          margin: 2rem;
          background-color: white;
          box-shadow: 2px 2px 5px rgba(0, 0,0, 0.2);
          border-radius: 5px;
          // display: flex;
          // justify-content: space-between;
          // align-items: flex-start;
          // padding: 15px 20px 10px 20px;
          // gap: 25px;
          
          .time-date {
            display: flex;
            gap:1rem;
            justify-content: end;
            align-items: center;
            margin-top: 2rem;
            p {
              font-size: 16px;
              font-weight: 600;
              color: #353535;
            }
          }
          .desc {
            // width: 65%;
            p {
              font-size: 16px;
              color: #353535;
              font-weight: 500;
              text-align: justify;
              white-space: normal;
              word-wrap: break-word;
            }
          }
        }
      }
      .footer {
        background-color: blue;
        height: 18vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        @include md {
          width: 100%;
          height: 23vh;
        }
        textarea {
          width: 90%;
          height: 90%;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 10px;
          padding: 5px;
          font-size: 18px;
          border: none;
          outline: none;
          resize: none;
          @include md {
            width: 95%;
          }
        }
        img {
          position: relative;
          bottom: 4px;
          right: 5px;
        }
      }
    }
  }
  .menu-hidden-mobile {
    display: none;
  }
  .notes-box-visible-mobile {
    display: block;
  }
}
